# copy this to .env and change the values to what fits your env, e.g. .env.prod.yml
CIRCLE_API_KEY: <your Circle API Key>
CIRCLE_ENVIRONMENT: <production | sandbox>
GOOGLE_APPLICATION_CREDENTIALS: <path to firestore service account.json for development>
GCLOUD_PROJECT: <firebase project ID>
FIRESTORE_MEMBERS_COLLECTION: <name of members collection in firestore>
